*{
    box-sizing: border-box;
}

body{
    background-color: rgb(238, 238, 238);
    text-align: center;
}

h4{
    text-align: center;
}

ol{
    text-align: left;
}

.main-div{
    display: flex;
    height: 800px;
}

.container{
    align-items: center;
    width: 33.33%;
}

.hidden{
    display: none;
}

.invisible{
    visibility: hidden;
}